<FilesMatch "^\.env">
Order allow,deny
Deny from all
</FilesMatch>

<FilesMatch "\.(env|log|ini|conf)$">
Order allow,deny
Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect requests for .env to 404
    RewriteRule ^\.env$ - [F,L]
</IfModule>
